<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/process" method="post">
        <label for="valorCompra">Digite o valor da compra:</label>
        <input type="number" id="valorCompra" name="valorCompra" placeholder="Digite o valor da compra"/>
        <br>

        <label for="tipoCompra">Selecione o tipo de compra:</label>
        <input type="text" id="tipoCompra" name="tipoCompra" placeholder="Selecione o tipo de compra"/>
        <br>

        <label for="tipoPagamento">Selecione o tipo de pagamento:</label>
        <input type="text" id="tipoPagamento" name="tipoPagamento" placeholder="Selecione o tipo de pagamento"/>
        <br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
